<p> huh, this is cozy </p>
<div>
    <input type="checkbox" name="season" id="all" onclick="check(this)">전부
    <input type="checkbox" name="season" id="spring" onclick="check(this)">봄
    <input type="checkbox" name="season" id="summer" onclick="check(this)">여름
    <input type="checkbox" name="season" id="autumn" onclick="check(this)">가을
    <input type="checkbox" name="season" id="winter" onclick="check(this)">겨울
</div>
<div>
    <button onclick="location.href='/community/create'">생성하기</button>
</div>
<div>
    <li><a href="/community/page/1?number=10">10개씩보기</a></li>
    <li><a href="/community/page/1?number=20">20개씩보기</a></li>
    <li><a href="/community/page/1?number=30">30개씩보기</a></li>
</div>
<table border="1">
    <tr>
        <td>Image</td>
        <td>게시자 ID</td>
        <td>내용</td>
        <td>조회수</td>
        <td>좋아요ㅎ</td>
        <td>댓글수</td>
        <td>등록일</td>
    </tr>
    <tr>
        <td>{{{num}}}</td>
        <td>{{{userid}}}</td>
        <td>{{{content}}}</td>
        <td>{{{look}}}</td>
        <td>{{{comment}}}</td>
        <td>{{{like}}}</td>
        <td>{{{date}}}</td>
    </tr>
</table>

<script>
    function check(here){
        const checkbox = document.getElementsByName("season");
        checkbox.forEach((i)=>{
            i.checked = false;
        })
        here.checked = true
    }
</script>