<div>
    image goes here! {{image}}
</div>
<div>
    내용 <br> {{content}} <br>
</div>
<div>
    작성일시 <br> {{time}} <br>
</div>
<div>
    타입 {{type}}
</div>

<div>
{{like}} -------> 좋아요 갯수
</div>

<br>
<h3>댓글창 시작!</h3>
{{#each comment}}
    <div>
        <p> 작성자 : {{this.UserID}} 내용 : {{this.Comment_Text}}</p>
        </div> 
{{/each}}

<form action="/community/post/{{number}}" method="POST">
    <h5>코멘트창</h5>
    <input type="text" id="comment" name="comment">
    <button>갑니당</button>
</form>