<div class="d-flex justify-content-center" style="margin: 10px;">
    <div class="card mb-3" style="width: 40rem;">
        <img src="..." class="card-img-top" alt="{{teapot.Post_Text}}">
        <div class="card-body">
            <p class="text-end">{{teapot.Post_Type}}</p>    
            <div id="PostLike"></div>
            <span class="card-text">{{like}} likes</span>
            <h4 class="card-title">{{teapot.UserID}}</h4>
            <p class="card-text">{{teapot.Post_Text}}</p>
            <p class="card-text"><small class="text-muted">{{teapot.Post_Time}}</small></p>
            {{#if isOwner}}
            <div class="d-flex justify-content-end">
            <div style="width: 130px; ">
                <button type="button" class="btn btn-outline btn-sm" style="background-color: #9C9584;" onclick="comfirmAlert('{{Owner}}','{{number}}')"><a style="color: white">Delete</a></button>
                <button type="button" class="btn btn-outline btn-sm" style="background-color: #9C9584;" onclick="location.href=''"><a style="color: white">Modify</a></button>
            </div>
            </div>
            {{else}}
            {{/if}}
        </div>
    </div>
</div>



<div class="d-flex justify-content-center" style="margin: 10px;">
    <div class="card" style="width: 40rem;">
    <div class="card-header"><img src="/icons/comments.png"  width="25px"> Comments</div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            {{#each comment}}
            <div>
                <span class="fw-bold" style="color: #4E5255;">{{this.UserID}}</span><br>
                <span class="fw-light fs-6" name="icon">{{this.Comment_Text}}</span>
            </div>
            {{/each}}
            <br>
        <footer class="blockquote-footer">The end of the comments ...</cite></footer>

        <form action="/community/post/{{number}}" method="POST">
            <div class="input-group mb-3">
                <input type="text" id="comment" name="comment" class="form-control" placeholder="Comments as {{id}}">
                <button class="btn btn-outline btn-sm" style="background-color: #9C9584;"><a style="color: white;">Post</a></button>
            </div>
        </form>

        </blockquote>
    </div>
    </div>
</div>



<script>
    document.getElementsByName("icon").forEach(element => {
        str = element.outerText
        if (str.match(/emoticons/)) { element.innerHTML = `<img src='/icons/${str}.png'>` }
    });

    function likes() {
        var dom = document.getElementById("PostLike")
    if (!{{ isLiked }}) { dom.innerHTML = `<img src="/icons/heart_before.png" alt="post_like" width="30px">` }
    else dom.innerHTML = `<img src="/icons/heart_after.png" alt="post_like" width="30px">` }
    likes()

    document.getElementById("PostLike").onclick = () => {
        var url = `/restapi/post/like?user={{{user}}}&postid={{{number}}}`
        var option = {method:"get"}
        
        fetch(url , option)
    }



    function comfirmAlert(user, number) {
        if (confirm("Delete Bulletin?")) {
            location.href = `/restapi/post/delete?user=${user}&postid=${number}`
            alert("Deleted it.")
        }
    }
</script>