<div class="d-flex justify-content-center" style="margin: 30px;">
    <div class="card mb-3" style="width: 40rem;">
    <img src="..." class="card-img-top" alt="{{teapot.Post_Text}}">
    <div class="card-body">
        <div>
            <div id="PostLike"><span class="card-text">{{like}} likes</span></div>
            <p class="card-text">{{like}} likes</p>
            <p class="text-end">{{teapot.Post_Type}}</p>
        </div>
        <h4 class="card-title">{{teapot.UserID}}</h4>
        <p class="card-text">{{teapot.Post_Text}}</p>
        <p class="card-text"><small class="text-muted">{{teapot.Post_Time}}</small></p>
    </div>
    </div>
</div>




{{#if isOwner}}
<button onclick="comfirmAlert('{{Owner}}','{{number}}')">게시글 삭제</button>
<button onclick="location.href=''">게시글 수정</button>
{{else}}


{{/if}}


<h3>댓글창 시작!</h3>
{{#each comment}}
<div>
    <p> 작성자 : {{this.UserID}}</p>
    <p name="icon">내용 : {{this.Comment_Text}}</p>
</div>
{{/each}}

<form action="/community/post/{{number}}" method="POST">
    <h5>코멘트창</h5>
    <input type="text" id="comment" name="comment" placeholder="emoticons">
    <button>갑니당</button>
</form>




<script>
    document.getElementsByName("icon").forEach(element => {
        str = element.outerText
        if (str.match(/emoticons/)) { element.innerHTML = `<img src='/icons/${str.split(': ')[1]}.png'>` }
    });

    function likes() {
        var dom = document.getElementById("PostLike")
    if (!{{ isLiked }}) { dom.innerHTML = `<img src="/icons/heart_before.png" alt="post_like" width="30px">` }
    else dom.innerHTML = `<img src="/icons/heart_after.png" alt="post_like" width="30px">`
    }
    likes()

    document.getElementById("PostLike").onclick = () => {
        var url = `/restapi/post/like?user={{{user}}}&postid={{{number}}}`
        var option = {method:"get"}
        
        fetch(url , option)
    }



    function comfirmAlert(user, number) {
        if (confirm("정말 삭제하시겠습니까?")) {
            location.href = `/restapi/post/delete?user=${user}&postid=${number}`
            alert("게시글 삭제 되었습니다.")
        }
    }
</script>