<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<h1> transform</h1>
<div class="d-flex justify-content-center" style="margin: 10px; margin-top: 50px;">
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title fw-bold" style="color: #4E5255;">Before</h5>
            <p class="card-text">여기에 변환 {{beforeImg}}전 계절이 뜨면 좋겠음 안되면 말고!</p>
        </div>
        <img src="/uploads/{{beforeImg}}.jpg" class="card-img-bottom" alt="beforePicHere">
    </div>
</div>

<div class="d-flex justify-content-center" style="margin: 10px;">
    <div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title fw-bold" style="color: #4E5255;">After</h5>
        <p class="card-text">여기에 변환{{afterImg}} 계절이 뜨면 좋겠음 안되면 말고!</p>
    </div>
    <a download='/converts/{{afterImg}}'></button>
    <img src="/converts/{{afterImg}}" class="card-img-bottom" alt="afterPicHere" id="afterPicHere">
    </div>
</div>

<script>
    
</script>